.grid, .grid-m {
	overflow: hidden;	
}
.grid-m>[class^="c"], .grid>[class^="c"] {
	float: left;
}
.grid-m>[class^="c"]:first-child {
	margin-left: 1% !important;
}
.grid-m>[class^="c"] {
	margin-left: 2%;
}

.c1 {
	width: 10%;
}
.c2 {
	width: 20%;
}
.c3 {
	width: 30%;
}
.c4 {
	width: 40%;
}
.c5 {
	width: 50%;
}
.c6 {
	width: 60%;
}
.c7 {
	width: 70%;
}
.c8 {
	width: 80%;
}
.c9 {
	width: 90%;
}
.c10 {
	width: 100%;
}

.grid-m .c1 {
	width: 8%;	
}
.grid-m .c2 {
	width: 18%;
}
.grid-m .c3 {
	width: 28%;
}
.grid-m .c4 {
	width: 38%;
}
.grid-m .c5 {
	width: 48%;
}
.grid-m .c6 {
	width: 58%;
}
.grid-m .c7 {
	width: 68%;
}
.grid-m .c8 {
	width: 78%;
}
.grid-m .c9 {
	width: 88%;
}
.grid-m .c10 {
	width: 98%;
}