* {
	margin:0;
	padding:0;
}

body {
	background-color: #9FCACE;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	color: #222;
	font-size: 1.2em;
	text-align: center;
}
h2 {
	font-size:3em;
}
h3 {
	font-size:1.5em;
	margin-bottom: 10px;
}
.menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #111;
	height: 60px;

	line-height: 60px;
	text-align: center;
	padding-right: 30px;
	font-size: 1em;
	color: #ccc;
	
}
.menu a {
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 30px;
	padding: 0 10px 0 10px;
	display: inline-block;
}
.menu a:hover {
	background-color: #169856;
	color: #fff;
}
.qst div {
	padding: 0px;
	text-align: center;
	min-width: 200px;
	
}
.nav {
	padding: 0 0 50px 0;
	text-align: center;
}
.btn {
	padding: 15px;
	display: inline-block;
	border-radius: 15px;
	background-color: #169856;
	min-width: 200px;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
.btn:hover {
	background-color: #fff;
	color:#222;
}
.btn-copy {
	background-color: #333;
	color: #ccc;
}
.container {
	width: 90%;
	margin: auto;
	padding: 50px 0 50px 0;
}
.header {
	padding-top: 20px;
	margin-bottom: 20px;
	background-color: #222;
	/*background-image: linear-gradient(to top, #588A35 10% ,  #588A35 100%);*/
	
	text-align: center;
	color: #fff;
}
.header small {
	font-size: 0.3em;
}
h1 {
	font-size: 4em;
}

.code .grd {
	padding: 10px;
	text-align: center;
}
.code .grd>[class^="cl-"]{
	background-color: #D8EBFF;
	border-radius: 1px;
	color:#5A727E;
	
	font-size: 22px;
	height: 50px;
	line-height: 50px;
	border:0px solid #fff;
	box-sizing: border-box; 
}
.code .grd>[class^="cl-"]:nth-child(odd) {
	background-color: #fff;
}
.code {
	width: 90%;
	margin: auto;
}
.footer {
	height: 200px;
	background-color: #111;
	line-height: 200px;
	color: #999;
	margin-top: 50px;
}