* {
	margin:0;
	padding:0;
}

body {
	background-color: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	color: #ccc;
	font-size: 1.2em;
	text-align: center;
}
h3 {
	font-size:2em;
	margin-bottom: 10px;
}
.qst div {
	padding: 10px;
	text-align: center;
}
.nav {
	padding: 0 0 10px 0;
	text-align: center;
}
.btn {
	padding: 15px;
	display: inline-block;
	border-radius: 15px;
	background-color: #6CCB9B;
	width: 200px;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;

}
.btn-source {
	background-color: #169856;
}
.container {
	width: 70%;
	margin: auto;
	padding: 50px 0 50px 0;
}
.header {
	padding-top: 20px;
	background-color: #076334;
	/*background-image: linear-gradient(to top, #588A35 10% ,  #588A35 100%);*/
	
	text-align: center;
	color: #fff;
}
h1 {
	font-size: 4em;
}
.code .grid-m, .code .grid {
	padding: 10px;
	text-align: center;
	
	
}
.code .grid-m div, .code .grid div {
	background-color: #29724D;
	border-radius: 2px;
	color:#fff;
	font-weight: bold;
	font-size: 22px;
	height: 35px;
	line-height: 35px;
	
	box-sizing: border-box; 
}

.code {
	width: 90%;
	margin: auto;
}